USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 11/14/2023 2:48:06 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'D:\QLNS\QLNS_DATA.MDF' , SIZE = 8192KB , MAXSIZE = 512000KB , FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'D:\QLNS\QLNS_LOG.LOG' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 10240KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nchar](16) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOANTRA]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOANTRA](
	[MAYCTH] [nchar](16) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONGTRA] [int] NULL,
 CONSTRAINT [PK_CHITIETHOANTRA] PRIMARY KEY CLUSTERED 
(
	[MAYCTH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [nchar](5) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[MAANH] [nvarchar](20) NOT NULL,
	[TENANH] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_HINHANH] PRIMARY KEY CLUSTERED 
(
	[MAANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [nchar](16) NOT NULL,
	[NGAYLAPHOADON] [date] NULL,
	[TIENNHAN] [money] NULL,
	[TONGTIEN] [money] NULL,
	[MANV] [nchar](13) NOT NULL,
	[MAKH] [nchar](13) NOT NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTRAHANG]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTRAHANG](
	[MAYEUCAUTRAHANG] [nchar](16) NOT NULL,
	[NGAYLAPHOADONTH] [date] NULL,
	[LYDOTRAHANG] [nvarchar](50) NULL,
	[TIENHOANTRA] [money] NULL,
	[MANV] [nchar](13) NULL,
	[MAKH] [nchar](13) NULL,
	[MAHD] [nchar](16) NULL,
 CONSTRAINT [PK_HOADONTRAHANG] PRIMARY KEY CLUSTERED 
(
	[MAYEUCAUTRAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](13) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIEMTL] [int] NULL,
	[NGAYLAP] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [nvarchar](50) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[CHIETKHAU] [float] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAISACH] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](50) NULL,
	[VAT] [float] NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[MALOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIVANPHONGPHAM]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVANPHONGPHAM](
	[MALOAIVPP] [nchar](10) NOT NULL,
	[TENLOAIVPP] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](50) NULL,
	[VAT] [float] NULL,
 CONSTRAINT [PK_LOAIVANPHONGPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAIVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUSAC]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUSAC](
	[MAMAU] [nvarchar](50) NOT NULL,
	[TENMAU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAUSAC] PRIMARY KEY CLUSTERED 
(
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](13) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
	[SDT] [nvarchar](12) NULL,
	[CCCD] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[MACHUCVU] [nchar](5) NOT NULL,
	[MAANH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [nchar](10) NOT NULL,
	[TENNSX] [nvarchar](50) NOT NULL,
	[THANHPHO] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nchar](10) NOT NULL,
	[TENSACH] [nvarchar](50) NULL,
	[GIAGOC] [money] NULL,
	[MAANH] [nvarchar](20) NOT NULL,
	[MOTA] [nvarchar](50) NULL,
	[NGAYNHAP] [date] NULL,
	[TRANGTHAI] [bit] NULL,
	[SOLUONG] [int] NULL,
	[THUE] [money] NULL,
	[GIABAN] [money] NULL,
	[MANSX] [nchar](10) NOT NULL,
	[MAKHUYENMAI] [nchar](10) NULL,
	[SOTRANG] [int] NULL,
	[LOAIBIA] [nvarchar](50) NULL,
	[TACGIA] [nvarchar](50) NULL,
	[MALOAISACH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [nchar](13) NOT NULL,
	[MATKHAU] [char](6) NULL,
	[PHANQUYEN] [nvarchar](20) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VANPHONGPHAM]    Script Date: 11/14/2023 2:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VANPHONGPHAM](
	[MAVPP] [nchar](10) NOT NULL,
	[TENVPP] [nvarchar](50) NULL,
	[GIAGOC] [money] NULL,
	[MAANH] [nvarchar](20) NOT NULL,
	[MOTA] [nvarchar](50) NULL,
	[NGAYNHAP] [date] NULL,
	[TRANGTHAI] [bit] NULL,
	[SOLUONG] [int] NULL,
	[THUE] [money] NULL,
	[GIABAN] [money] NULL,
	[MANSX] [nchar](10) NOT NULL,
	[MAKHUYENMAI] [nchar](10) NULL,
	[THUONGHIEU] [nvarchar](50) NULL,
	[XUATXU] [nvarchar](50) NULL,
	[MAMAU] [nvarchar](50) NULL,
	[MALOAIVPP] [nchar](10) NULL,
 CONSTRAINT [PK_VANPHONGPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHOADON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SACH] FOREIGN KEY([MASP])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SACH]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_VANPHONGPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[VANPHONGPHAM] ([MAVPP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_VANPHONGPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOANTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOANTRA_HOADONTRAHANG] FOREIGN KEY([MAYCTH])
REFERENCES [dbo].[HOADONTRAHANG] ([MAYEUCAUTRAHANG])
GO
ALTER TABLE [dbo].[CHITIETHOANTRA] CHECK CONSTRAINT [FK_CHITIETHOANTRA_HOADONTRAHANG]
GO
ALTER TABLE [dbo].[CHITIETHOANTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOANTRA_SACH] FOREIGN KEY([MASP])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOANTRA] CHECK CONSTRAINT [FK_CHITIETHOANTRA_SACH]
GO
ALTER TABLE [dbo].[CHITIETHOANTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOANTRA_VANPHONGPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[VANPHONGPHAM] ([MAVPP])
GO
ALTER TABLE [dbo].[CHITIETHOANTRA] CHECK CONSTRAINT [FK_CHITIETHOANTRA_VANPHONGPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTRAHANG_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADONTRAHANG] CHECK CONSTRAINT [FK_HOADONTRAHANG_HOADON]
GO
ALTER TABLE [dbo].[HOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTRAHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONTRAHANG] CHECK CONSTRAINT [FK_HOADONTRAHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTRAHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONTRAHANG] CHECK CONSTRAINT [FK_HOADONTRAHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_HINHANH] FOREIGN KEY([MAANH])
REFERENCES [dbo].[HINHANH] ([MAANH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_HINHANH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_HINHANH] FOREIGN KEY([MAANH])
REFERENCES [dbo].[HINHANH] ([MAANH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_HINHANH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([MALOAISACH])
REFERENCES [dbo].[LOAISACH] ([MALOAISACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHASANXUAT] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHASANXUAT]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MATAIKHOAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VANPHONGPHAM_HINHANH] FOREIGN KEY([MAANH])
REFERENCES [dbo].[HINHANH] ([MAANH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VANPHONGPHAM_HINHANH]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VANPHONGPHAM_LOAIVANPHONGPHAM] FOREIGN KEY([MALOAIVPP])
REFERENCES [dbo].[LOAIVANPHONGPHAM] ([MALOAIVPP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VANPHONGPHAM_LOAIVANPHONGPHAM]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VANPHONGPHAM_MAUSAC] FOREIGN KEY([MAMAU])
REFERENCES [dbo].[MAUSAC] ([MAMAU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VANPHONGPHAM_MAUSAC]
GO
ALTER TABLE [dbo].[VANPHONGPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VANPHONGPHAM_NHASANXUAT] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VANPHONGPHAM] CHECK CONSTRAINT [FK_VANPHONGPHAM_NHASANXUAT]
GO
USE [master]
GO
